.lights-on-menu {
    text-align: center;
    margin-top: 15%;
  }
  
  .levels {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    margin-top: 20px;
  }
  
  .level-button1 {
    background-color: green;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 1%;
  }
  .level-button1:hover{
    background-color: darkgreen;
  }
  .level-button2 {
    background-color: orange;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 1%;
  }

  .level-button2:hover{
    background-color: darkorange;
  }

  .level-button3 {
    background-color: red;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 1%;
  }

  .level-button3:hover{
    background-color: darkred;
  }
  
  