.fixedContainer {
  position: relative;
  top: 50%;
  left: -40%;
  display: flex;           /* Makes children flex items */
  flex-direction: column;  /* Align children vertically */
  align-items: center;     /* Center items horizontally */
  gap: 1px;               /* Space between each item */
}
/*
.fixedContainer {
  position: fixed;
  top: 10%;
  left: 10%;
  transform: translateY(-50%);
  z-index: 1000;
  display: flex;          
  flex-direction: column;  
  align-items: center;     
  gap: 1px;               
  width: 70px; 
  height: 70px; 
}
*/


.toggleButtonImg {
  width: 100px; /* Set the width of the images */
  height: 100px; /* Set the height of the images */
  cursor: pointer; /* Change cursor to pointer on hover over the image */
  display: block; /* Ensures that the image does not have inline properties */
}

.triangleShape {
  width: 80px;
  height: 80px;
  position: absolute;
  left: 28.45%;  /* Adjust this value as needed to position correctly */
  top: 12%;
}

.squareShape {
  width: 80px;
  height: 80px;
  position: absolute;
  left: 28.3%;
  top: 36%;
}

.triangleShape2 {
  width: 80px;
  height: 80px;
  position: absolute;
  left: 28.5%;  /* Adjust this value as needed to position correctly */
  top: 58%;   /* Adjust this value as needed to position correctly */
}

.squareShape2 {
  width: 80px;
  height: 80px;
  position: absolute;
  left: 28.3%;  /* Adjust this value as needed to position correctly */
  top: 83%;
}
.triangleShape3 {
  width: 80px;
  height: 80px;
  position: absolute;
  left: 49.3%;  /* Adjust this value as needed to position correctly */
  top: 21%;
}

.squareShape3 {
  width: 80px;
  height: 80px;
  position: absolute;
  left: 49%;  /* Adjust this value as needed to position correctly */
  top:70%;
}

.triangleShape4 {
  width: 80px;
  height: 80px;
  position: absolute;
  left: 68.95%;  /* Adjust this value as needed to position correctly */
  top: 48%;
}


.lightBulb {
  width: 100px; /* Set width as needed */
  height: 100px; /* Set height as needed */
  position: absolute;
  left: 87.5%; /* Align to the right edge of the viewport */
  top: 46%;
}

.submitButtonContainer {
  position: absolute; /* Change position to absolute */
  top:100%; /* Adjust bottom value to change vertical position */
  left: 50%; /* Center horizontally */
}

.submitButton {
  background-color: orange;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.submitButton:hover {
  background-color: darkorange;
}

.gameHeader {
  text-align: center;
  margin-bottom: 50px;
}

.gameHeader h1 {
  font-size: 24px;
  font-weight: bold;
}

.gameHeader p {
  font-size: 16px;
}
.gameDescription {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
}

.gameContainer {
  position: relative;
}

.linesContainer {
  position: absolute; /* Set the position to absolute within the container */
}

.line {
  stroke: black;
  stroke-width: 2;
}