

body {
    font-family: "Reem Kufi", sans-serif !important;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
  }
  .welcome{
    font-family: "Reem Kufi", sans-serif !important;

  }

background-color {
  background-color: #d1821b; 
}

  
  